@model ShipmentCarrierDto

@{
    ViewData["Title"] = "Add New Shipment Carrier";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New Shipment Carrier</h4>
            <p class="card-description"> Enter details of the new Shipment Carrier </p>
            <form class="forms-sample" method="post" asp-area="Admin" asp-controller="ShipmentCarriers" asp-action="Create">
                <div class="form-group">
                    <label asp-for="CarrierName"></label>
                    <input asp-for="CarrierName" class="form-control" placeholder="Enter Shipment Carrier Name">
                    <span asp-validation-for="CarrierName" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-gradient-primary me-2" onclick="return confirm('Are you sure you want to save the values?');">Create</button>
                <button type="reset" class="btn btn-dark">Clear</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}