@using DataAccess.SecurityModels
@using Microsoft.AspNetCore.Identity
@inject RoleManager<ApplicationRole> _roleManager
@model List<UserViewModel>

@{
    ViewData["Title"] = "Users List";
}



@section Styles{
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <!-- End plugin css for this page -->
}

<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Users List</h4>
            @if (User.IsInRole("Admin"))
            {
                <a asp-area="Admin" asp-controller="Users" asp-action="Create" class="btn btn-gradient-primary btn-rounded btn-fw" style="margin-bottom: 20px;">Add New User</a>
            }
            <div class="row">
                <div class="col-12">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Role Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.RoleName</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-fw" onclick="return confirm('Are you sure you want to delete the selected record?');">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->


@section Scripts{
    <!-- Plugin js for this page -->
    <script src="~/admin/assets/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/admin/assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <!-- End plugin js for this page -->

    <!-- Custom js for this page -->
    <script src="~/admin/assets/js/data-table.js"></script>
    <!-- End custom js for this page -->
}
